<section>
  <input ng-model="userInput" /> Uppercased: {{userInput | uppercase}}
  {{1459461289000 | date:'MM/dd/yyyy @ h:mma'}}
  <div>
     Search: <input ng-model="$ctrl.busqueda" />
  </div>
  Show: <input type="checkbox" ng-model="checked"><br />
  <div ng-show="checked">
    I show up when your checkbox is checked.
  </div>
  <h1>Numeros mostrando descendentemente</h1>
  <p ng-repeat="numero in [7.65, 8, 4, 2232312, 12, 8999997] | orderBy:'-'">{{numero | currency:'€'}}</p>
  <ul>
    <li ng-repeat="fruta in $ctrl.frutas | filter: $ctrl.busqueda | orderBy: $ctrl.orderBy">
      <a href="frutas/{{fruta.id}}">{{fruta.id}}</a>
      <h1>{{fruta.nombre}}</h1>
      <h5>{{fruta.colorHEX}}</h5>
      <p>Comprobando funcion filter {{fruta.stock | checkFiltro}}</p>
    </li>
  </ul>
</section>
