<div class="">
  <!-- Toggle -->
  <div class="toggle">
      <label>
        <input type="checkbox" />
        <span class="round"></span>
      </label>
  </div>
  <!-- Toggle -->
  <select ng-model="$ctrl.orderBy" ng-options="prop for prop in ['id', 'nombre', 'edad']">
  </select>

  <form name="formulario">
    <div class="input-group">
      <input type="number"  name="numeroID" ng-model="$ctrl.persona.id" placeholder="ID"  ng-class="{'input-invalido' : $ctrl.checkMaxLength('id')}" required />
      <span>Maxlenth : {{$ctrl.inputLength.id}}</span>
    </div>
    <div class="input-group">
      <input ng-model="$ctrl.persona.nombre" name="nombre" type="text" placeholder="Nombre"  ng-class="{'input-invalido' : $ctrl.checkMaxLength('nombre')}" required/>
      <span>Maxlenth : {{$ctrl.inputLength.nombre}}</span>

    </div>
    <div class="input-group">
      <input type="number" name="edad" ng-model="$ctrl.persona.edad" placeholder="Edad"  ng-class="{'input-invalido' : $ctrl.checkMaxLength('edad')}" required/>
      <span>Maxlenth : {{$ctrl.inputLength.edad}}</span>
    </div>
    <button ng-class="{'btn-disponible' : $ctrl.hasMinValidLength() && !$ctrl.checkMaxLength('nombre') && !$ctrl.checkMaxLength('id') && !$ctrl.checkMaxLength('edad')}" ng-disabled="!$ctrl.hasMinValidLength() || $ctrl.checkMaxLength('nombre') || $ctrl.checkMaxLength('edad') || $ctrl.checkMaxLength('id')" type="button" ng-click="$ctrl.insertar($ctrl.persona)">Añadir <strong>SIN</strong> $scope</button>
    <p>¿ El numero está relleno ? {{formulario.numeroID.$valid}} </p>
    <p> ¿ El nombre está relleno ? {{formulario.nombre.$valid}} </p>
    <p> ¿ La edad está relleno ? {{formulario.edad.$valid}}</p>
    
  </form>

  <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, persona) in $ctrl.personas  | orderBy: $ctrl.orderBy track by $index">
        <td>{{$index}}</td>
        <td ng-bind="key" ng-show="false"></td>
        <td>{{persona.id}}</td>
        <td>{{persona.nombre}}</td>
        <td>{{persona.edad}}</td>
        <td ng-click="$ctrl.eliminar(persona.id)"><button type="button">Eliminar</button></td>
        <td ng-click="$ctrl.eliminarMenosEste(persona.id)"><button type="button">Eliminar TODOS menos este</button></td>
      </tr>
    </tbody>
  </table>

</div>
